html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    height: -webkit-fill-available;
}

body {
    background-color: rgb(30, 29, 29);

    color: rgb(188, 184, 184);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    min-height: 100vh;
    min-height: -webkit-fill-available;
}

header {
    display: grid;
    align-items: center;
}

header h1 {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    padding-top: 30px;
}

.resetButton {
    border: 2px solid;
    border-radius: 10%;

    padding: 10px;
    margin-top: 40px;

    background-color: rgb(188, 184, 184);

    color:rgb(30, 29, 29);
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.resetButton:hover,
.resetButton:active {
    border: 4px solid;
    background-color: rgb(148, 144, 144);
}

.gameProcess {
    position: absolute;
    background-color: rgba(184, 184, 184, 0);
    color: rgba(184, 184, 184, 0);
}

.gameProcess .resetButton,
.gameProcess .resetButton:active,
.gameProcess .resetButton:hover {
    background-color: rgba(184, 184, 184, 0);
    color: rgba(184, 184, 184, 0);
    border: 0px solid;

}

.gameOver {
    display: grid;

    position: absolute;
    top: 49.6%;
    left: 50%;
    transform: translate(-50%, 0%);

    color: rgb(30, 29, 29);
    background-color: rgba(184, 184, 184, 0.8);

    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 5%;
}

.gameOver h2 {
    margin: 10px;
    margin-top: 0px;
}

.gameOver .resetButton {
    border-radius: 6%;
    margin: 10px;
    margin-top: 0px;
}

.gameOver .resetButton:hover,
.gameOver .resetButton:active {
    margin: 5px;
    margin-top: 0px;
}
