.score-board {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
    padding-top: 20px;
    margin: 0px;
    margin-left: 400px;
}

.score {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border: 2px solid;
    border-radius: 8%;
    margin: 0px;
    padding: 7px;

    background-color: rgb(188, 184, 184);
    color: rgb(30, 29, 29);
}

h2.headline {
    margin: 0px;
    padding: 0px;
}

.num-score {
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
    border: 2px solid;
    border-radius: 8%;
}
